.productForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 0 3px #000;
  padding: 20px 30px;
  border-radius: 2px;
}
.packForm {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.formInput {
  padding: 5px 10px;
  margin: 5px 0px;
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  box-shadow: 0 0 1px #000;
  font-size: 0.95rem;
}
.formSelect {
  width: 100px;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 100%;
  margin: 0px auto;
  padding: 0 20px;
  border-radius: 10px;
  background-color: var(--background-color);
  padding: 20px 30px;

  .form-field {
    position: relative;
    margin-top: 20px;
    min-width: 200px;
    width: 100%;
  }
  & legend {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  & label {
    position: absolute;
    display: none;
    z-index: 1;
    top: -8px;
    left: 13px;
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    font-size: smaller;
    background-color: #ffffff;
    color: #000000aa;
  }
  & input {
    width: 100%;
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
    border: none;
    border: 1px solid #999;
    outline: none;
  }
  & input::placeholder {
    color: #838383;
  }
  & textarea {
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: medium;
  }
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: medium;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
  }
  & button:disabled {
    color: #ffffff77;
  }
}

@media (max-width: 640px) {
  .packForm {
    flex-direction: column;
    gap: 0;
  }
  form {
    padding: 20px 10px;
    border-radius: 0;
    text-align: center;
    & h2,
    legend {
      font-size: 1.2rem;
    }
  }
}
