* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

:root {
  --primary-color: #6b4f3f;
  --secondary-color: #7c8a6a;
  /* --background-color: #fffdfa; */
  --background-color: #ffffff;
  --text-color: #3f2f23;
  --secondary-text: #7a6a5e;
  --success-color: #31cd6a;
  --error-color: #e15959;

  /* --chat-color: #555; */
  /* --chat-text: #5d5d5d; */
  --chat-color: #000;
  --chat-text: #0b0b0b;
}

.toast {
  position: fixed;
  bottom: 24px;
  left: 24px;
  background: var(--success-color);
  color: #fff;
  box-shadow: 0 0 5px #0005;
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 2000;
}